<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InsiderNepalApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InsiderNepalApp.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow border-bottom fixed-top  pb-0 mb-5" style="display:flex; flex-wrap:wrap; background-color:rgb(11,35,81); padding-left:10px;">
        <div class="navbarHome">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">InsiderNepalApp</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
            <div class="navbarTopics">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="NationalNews" asp-action="ReadNationalNews">National</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="GlobalNews" asp-action="Index">Global</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="BussinessNews" asp-action="Index">Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Journal" asp-action="Index">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Culture" asp-action="Index">Culture&LifeStyle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Ads" asp-action="Index">Ads</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>



    <div class="container-fluid overflow-hidden p-5">
        <main role="main" class="mt-5 pt-2 mb-5">
            @RenderBody()

        </main>
    </div>


    <!-- Footer -->

    <footer class="text-center text-lg-start text-muted py-1" style="position:relative; width:100vw; bottom:0; background-color:rgb(11,35,81); ">
        <!-- Content -->
        <!-- Section: Social media -->
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5 text-white">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <div class="newsTopic">
                            <h6 class="text-uppercase fw-bold mb-4 text-white">
                                About Us
                            </h6>
                        </div>
                        <p class="text-white">
                            <a href="#!" class="text-reset">About the Post</a>
                        </p><p class="text-white">
                            <a href="#!" class="text-reset">Masthead</a>
                        </p><p class="text-white">
                            <a href="#!" class="text-reset">Integrity</a>
                        </p><p class="text-white">
                            <a href="#!" class="text-reset">Workplace harrassment</a>
                        </p><p class="text-white">
                            <a href="#!" class="text-reset">Policies</a>
                        </p>
                        @* <p>
                        InsiderNepal is a news channel established in 2012.
                        Our goal is to provide insightful news and information about Nepal and Global.
                        We are dedicated to deliver accurate and timely news
                        that informs and empowers our audience.
                        </p>*@
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <div class="newsTopic">
                            <h6 class="text-uppercase fw-bold mb-4 text-white">
                                Read Us
                            </h6>

                        </div>
                        <p class="text-white">
                            <a href="#!" class="text-reset"><i class="fa-solid fa-truck me-2"></i>Home Delivery</a>
                        </p>
                        <p class="text-white">
                            <a href="#!" class="text-reset"><i class="fa-solid fa-mobile-screen me-2"></i>EPaper</a>
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
                        <!-- Links -->
                        <div class="newsTopic">
                            <h6 class="text-uppercase fw-bold mb-4 text-white">
                                Social Media
                            </h6>
                        </div>
                        <p class="text-white">

                            <a href="#!" class="text-reset">
                                <i class="fa-brands fa-facebook fa-lg me-2"></i>Facebook
                            </a>
                        </p>
                        <p class="text-white">
                            <a href="#!" class="text-reset">
                                <i class="fa-brands fa-twitter me-2"></i>Twitter
                            </a>
                        </p>
                        <p class="text-white">
                            <a href="#!" class="text-reset">
                                <i class="fa-brands fa-square-instagram me-2"></i>Instagram
                            </a>
                        </p>
                        <p class="text-white">
                            <a href="#!" class="text-reset">
                                <i class="fa-brands fa-youtube me-2"></i>Youtube
                            </a>
                        </p>
                        <p class="text-white">
                            <a href="#!" class="text-reset">
                                <i class="fa-brands fa-tiktok me-2"></i>Tiktok
                            </a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
                        <!-- Links -->
                        <div class="newsTopic">

                            <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                        </div>
                        <p><i class="fa-solid fa-location-dot me-3"></i>Nayamarga,Tinkune Kathmandu, Nepal</p>
                        <p class="text-white">
                            <i class="fa-solid fa-envelope me-2"></i>
                            insidernepal@gmail.com
                        </p>
                        <p><i class="fa-solid fa-phone me-3"></i> +977-9867676543</p>
                        <p><i class="fa-solid fa-phone me-3"></i>+ 01 234 567</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4 text-white" style="background-color:rgb(11,35,81);">
            © 2023 Copyright:
            <a class="text-reset fw-bold text-white" href="https://mdbootstrap.com/">InsiderNepal.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
