<h3 class="newsTopic">News Home For</h3>
<ul class="newsHeadLine  ">
    <li>National News</li>
    <li>Global News</li>
    <li>Bussiness News</li>
    <li>Journal News</li>
    <li>Culture And LifeStyle News</li>
</ul>