@model InsiderNepalApp.Models.NationalNews;

<form asp-action="AddNews" method="post" class="col g-10" enctype="multipart/form-data">
    <h3>Add National News</h3>
    <div class="mt-4 col-md-12"></div>

    <div class="col-sm-5">
        <label asp-for="Title" class="form-label">News Title</label>
        <input asp-for="Title" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mt-4 col-md-12"></div>

    <div class="col-sm-8">
        <label asp-for="Content" class="form-label">News Content</label>
        <textarea rows="5"  class="form-control" asp-for="Content" type="text"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>

    <div class="mt-4 col-md-12"></div>
    

    <div class="mb-3 col-md-3">
        <label asp-for="ImageUrl" class="form-label">News Image</label><br />
        <input type="file" class="form-control">
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
       
    </div>
    <div class="mt-4 col-md-12"></div>

    <div class="col-sm-8">
        <label asp-for="PublishDateTime" class="form-label">Publish Date</label>
        <input asp-for="PublishDateTime" type="date" class="form-control">
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    <div class="mt-4 col-md-12"></div>

    <div class="col-sm-5">
        <label asp-for="Author" class="form-label">Author Name</label>
        <input asp-for="Author" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="mt-4 col-md-12"></div>

    <button type="submit" class="btn btn-primary">Publish</button>
</form>