
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>National News Indexß</title>
</head>
<body>
    <div>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
        <h2> This is Index view of National News</h2>
    </div>
    
</body>
</html>
