@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger"style="font-family:cursive">@ViewData["Title"]</h1>
    <p class="text-danger" style="font-family:cursive">You do not have access to this resource.</p>
    <img src="~/images/Journal/locked.png" style="margin-left:50%; transform:translateX(-50%)"/>
</header>
